
*.iml
.idea/libraries/Maven__commons_io_commons_io_2_5.xml
*.class
verificationcore/target/classes/META-INF/spring-configuration-metadata.json
/target/
*.lst
*.iml
*.jar
.idea/artifacts/verification_war.xml
.idea/artifacts/verification_war_exploded.xml
.idea/artifacts/verificationdemo_war.xml
.idea/artifacts/verificationdemo_war_exploded.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_configuration_processor_1_5_6_RELEASE.xml
.idea/libraries/servlet_api.xml
